{% extends 'base.html' %}
{% block content %}

<h1>Pokemon Info</h1>

{% for pokemon in pokemons %}

<div class="card" style="width: 18rem;">
  <img src="{{ pokemon.img_url }}" class="card-img-top" alt="{{ pokemon.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ pokemon.name.title() }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Base Experience: {{ pokemon.base_exp }}</li>
    <li class="list-group-item">HP: {{ pokemon.hp }}</li>
    <li class="list-group-item">Attack: {{ pokemon.attack }}</li>
    <li class="list-group-item">Defense: {{ pokemon.defense }}</li>
    <li class="list-group-item">Speed: {{ pokemon.speed }}</li>
    <li class="list-group-item">Ability: {{ pokemon.ability.upper() }}</li>
  </ul>
  <div class="card-body">
    <a href="{{ url_for('pokedex.addTeam', pokemon_id=pokemon.id) }}" class="btn btn-primary">Add to Team</a>
    <a href="{{ url_for('pokedex.removeTeam', pokemon_id=pokemon.id) }}" class="btn btn-danger">Remove from Team</a>
  </div>
</div>
{% endfor %}

{% endblock %}